# Ignore Maven target directories
**/target/

# Ignore compiled class files
*.class

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
**/build/

# VS Code
.vscode/

# Maven Wrapper JAR
.mvn/wrapper/maven-wrapper.jar

# Ignore settings.xml
settings.xml
